[submodule "var/spack/extensions/spack-subspack"]
	path = var/spack/extensions/spack-subspack
	url = https://github.com/marcmengel/spack-subspack
[submodule "var/spack/extensions/spack-linuxexternas"]
	path = var/spack/extensions/spack-linuxexternals
	url = https://github.com/marcmengel/spack-linuxexternals
[submodule "var/spack/extensions/spack-mpd"]
	path = var/spack/extensions/spack-mpd
	url = https://github.com/knoepfel/spack-mpd
[submodule "var/spack/repos/fnal_art"]
	path = var/spack/repos/fnal_art
	url = https://github.com/fnalSSI/fnal_art
[submodule "var/spack/repos/nusofthep-spack-recipes"]
	path = var/spack/repos/nusofthep-spack-recipes
	url = https://github.com/NuSoftHEP/nusofthep-spack-recipes
[submodule "var/spack/repos/larsoft-spack-recipes"]
	path = var/spack/repos/larsoft-spack-recipes
	url = https://github.com/LArSoft/larsoft-spack-recipes
[submodule "etc/spack/linux"]
	path = etc/spack/linux
	url = https://github.com/marcmengel/fermi-etc-spack-linux
[submodule "var/spack/extensions/spack-installdir"]
	path = var/spack/extensions/spack-installdir
	url = https://github.com/marcmengel/spack-installdir
[submodule "var/spack/repos/artdaq-spack"]
	path = var/spack/repos/artdaq-spack
	url = https://github.com/art-daq/artdaq-spack.git
